* {
  box-sizing: border-box;
}

.scoreboard {
  visibility: hidden;
  display: flex;
  background: #111;
  color: white;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 16px;
  border-bottom: 3px solid #444;
  gap: 16px;
  align-items: center;
  height: 60px;
}

.team-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #222;
  padding: 2px 10px;
  border-radius: 4px;
}

#team-red {
  background: #522;
}
#team-blue {
  background: #33a;
}

.game-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.scoreboard-item {
  /* background: #444; */
  min-width: 60px;
  display: flex;
  gap: 10px;
}

.score {
  color: #ffcc00;
}

.possession-dot {
  color: #00ff00;
}

.scoreboard-value {
  padding: 0 0 0 10px;
  border-left: 1px solid #555;
}

#yard-line {
  font-size: 30px;
}
